mixin form
    form
        input(type="text", placeholder="Your Name").form__input
        input(type="text", placeholder="Your E-Mail").form__input
        textarea(cols="30", rows="10", placeholder="Your Message").form__input--textarea
        button(type="submit").form__btn send message