mixin footer
    .footer
        .container.d-flex.justify-content-space-between
            h1.footer__title Need a graphic designer? <strong class="footer__span">Ready to work!</strong> 
            a(href="#hireme").footer__link hire me
