mixin cookies
    .cookies
        .container.d-flex.justify-content-center
          h3.cookies__title This site uses cookies, so that my service can work better
          button.cookies__btn Accept
            