mixin cookies
    .cookies
        .container.d-flex
          h3.cookies__title This site uses cookies, so that my service can work better
          form.cookies__form(action="#" method="get")
            input.cookies__checkbox(type="checkbox" id="accept" name="Accept")
            label.cookies__accept(for="accept") Accept