include ../formHire/_formHire.pug
mixin hire
    <div class="remodal" data-remodal-id="hireme">
        <button data-remodal-action="close" class="remodal-close"></button> 
        h2.hire__title Hire Me  
        +form
    </div>
    