mixin header 
    .header
        .container
            .header__nav
                input.header__checkbox(type="checkbox" id="burger")
                label.header__burger(for="burger")
                    i.header__icon(class="fas fa-bars")
                    i.header__times(class="fas fa-times")
            
                ul.header__list.d-flex.justify-content-center.flex-column.align-content-center.align-items-center
                    li.header__item
                        a.header__link(href="#") About Me
                    li.header__item
                        a.header__link(href="#") Services
                    li.header__item
                        a.header__link(href="#") My Works 
                    li.header__item
                        a.header__link(href="#") Clients
                    li.header__item
                        a.header__link(href="#") dd

        .container
            .header__desc.d-flex.justify-content-center
                .header__logo
                h1.header__title FREE PORTFOLIO PSD TEMPLATE  FOR GRAPHIC DESIGNERS 
                h2.header__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                button.header__btn HIRE ME
                a.header__link(href="#")
                    img.header__img             
         
