mixin header 
    .header
        .container
            .header__nav
                input.header__checkbox(type="checkbox" id="burger")
                label.header__burger(for="burger")
                    i.header__icon(class="fas fa-bars")
                    i.header__times(class="fas fa-times")
            
                ul.header__list.d-flex.justify-content-center.flex-column.align-content-center.align-items-center
                    li.header__item
                        a.header__link(href="#") About Me
                    li.header__item
                        a.header__link(href="#") Services
                    li.header__item
                        a.header__link(href="#") My Works 
                    li.header__item
                        a.header__link(href="#") Clients
                    hr.header__hr
                    ul.header__social
                        li.header__soc
                            a.header__linkage(href="#") 
                                i.fab.fa-facebook-f
                        li.header__soc
                            a.header__linkage(href="#") 
                                i.fab.fa-twitter 
                        li.header__soc
                            a.header__linkage(href="#") 
                                i.fab.fa-dribbble
                        li.header__soc
                          a.header__linkage(href="#") 
                                i.fab.fa-behance  

        .container
            .header__desc.d-flex.justify-content-center
                .header__logo
                .header__logo2
                .header__logo3
            h1.header__title FREE PORTFOLIO PSD TEMPLATE  
                br
                | FOR GRAPHIC designerS
            h2.header__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor  
                br
                | incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            a.header__link(href="#hireme")
                button.header__btn HIRE ME
                            
         
