mixin header 
    .header
        .container
            .header__nav
                input.nav__checkbox(type="checkbox" id="burger")
                label.nav__burger(for="burger")
                        i.nav__icon(class="fas fa-bars")
                        i.nav__times(class="fas fa-times")
                ul.nav__list
                     li.nav__item
                     a.nav__link(href="#")
                     li.nav__item
                     a.nav__link(href="#")
                     li.nav__item
                     a.nav__link(href="#")
                     li.nav__item
                     a.nav__link(href="#")
                     li.nav__item
                     a.nav__link(href="#")
        .container
            .header__desc.d-flex.justify-content-center
                .header__logo
                h1.header__title FREE PORTFOLIO PSD TEMPLATE  FOR GRAPHIC DESIGNERS 
                h2.header__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                button.header__btn HIRE ME
                a.header__link(href="#")
                    img.header__img             
         
